.float-right {
    list-style: none;
    float: right;
    padding: 10px 10px 5px 10px;
    font-size: 12px;
}

.float-left {
    list-style: none;
    float: left;
    padding: 10px 5px;
    font-size: 14px;
}

.navbar {
    height: 600px;
    width: 100%;
    background-image: url("https://i.ytimg.com/vi/jXil9P1xqKI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-position: top-left;
    background-size: cover;
    /*this fits the image to the full lenth and width of the navbar*/
}

h1 {
    color: white;
    text-align: left;
    margin-top: 50px;
    padding-top: 75px;
    padding-left: 25%;
    padding-right: auto;
    font-size: 3.5vw;
    font-weight: 600;
}

p {
    color: white;
    padding-left: 25%;
    padding-right: auto;
    font-weight: bold;
}

.font-size {
    font-size: 2.5vw;
}

.font-style {
    font-family: Georgia;
    font-size: 1.5vw;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: grey;
}

#content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    font-size: 20px;
}

.bold {
    font-size: 20px;
    font-weight: bold;
}

.floating-box {
    display: inline-block;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    border-left: 2px solid;
    border-color: lightgrey;
    color: grey;
    font-style: italic;
    font-size: 18px;
    padding: 5px 0px 5px 10px;
}

img {
    width: 700px;
}

.center-text {
    display: block;
    text-align: center;
    color: grey;
    font-style: italic;
    font-size: 14px;
}

hr {
    display: block;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgrey;
}

#one {
    text-decoration: underline;
    color: black;
}

#a {
    color: black;
}

.social {
    font-size: 25px;
    text-align: center;
    margin-top: 75px;
}

.copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}
