body {
    font-family: Lora, 'Times New Roman', serif;
    background: red;
}

.container {
    width: 100%;
    background: white;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    margin-top: 0px;
}

.blockquote {
    border-left: 5px solid lightgray;
    font-style: italic;
    padding-left: 20px;
}

.navbar-list {
    list-style: none;
}

.navbar-list li {
    float: right;
    margin: 25px 15px;
    font-size: 12px;
    font-weight: 800;
}

.navbar-list li#brand {
    float: left;
    font-size: 13px;
}

.white {
    color: white;
}

.header {
    background-image: url('http://blackrockdigital.github.io/startbootstrap-clean-blog/img/post-bg.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    height: 700px;
}

h1,
h2,
h3,
.navbar-list li,
.navbar-list li#brand {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-list li#brand {
    font-weight: 800;
}

.header h1 {
    padding-top: 180px;
    padding-bottom: 5px;
    font-size: 50px;
    font-weight: 800;
}

.header h2 {
    font-size: 42px;
    font-weight: normal;
}

.header h3 {
    font-family: Lora, 'Times New Roman', serif;
    font-style: italic;
}

.article {
    padding-top: 45px;
    padding-bottom: 5px;
    font-family: Lora, 'Times New Roman', serif;
}

.article p {
    font-size: 22px;
    margin-top: 20px;
    padding-bottom: 22px;
}

.article h2 {
    font-weight: 800;
}

img {
    width: 100%;
}

p.small {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

hr {
    color: darkgray;
}

.footsy {
    padding-top: 50px;
}

.logos {
    padding-left: 20px;
}

.logos li {
    list-style: none;
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 20px 6px 20px 6px;
    padding-top: 9px;
    text-align: center;
    color: white;
    background: #333333;
    float: left;
}

.copyright {
    margin-top: 0px;
    font-family: Lora, 'Times New Roman', serif;
    padding-bottom: 65px;
}

a {
    text-decoration: none;
    color: white;
}
